
// Workflow details

manifest {
  author = ' Tracy Chew, Cali Willet, Nandan Deshpande, Sydney Informatics Hub, University of Sydney'
  name = 'SomaticShortV-nf'
  description = 'GATK somatic short variant calling pipeline'
  homePage = 'https://github.com/Sydney-Informatics-Hub/Somatic-shortV-nf'

// Mandate a minimum version of nextflow required to run the pipeline
  nextflowVersion = '!>=20.07.1'
}

// resume pipeline from last successful process
  resume = true 

// Enable various profiles depending on compute infrastructure to be run on
// For more info: https://www.nextflow.io/docs/latest/config.html#config-profiles
// Example from https://github.com/marcodelapierre/trinity-nf/blob/master/nextflow.config
  profiles {
    local		{ includeConfig "config/local.config" }
    nimbus	{ includeConfig "config/nimbus.config" }
    gadi		{ includeConfig "config/gadi.config" }
    setonix	{ includeConfig "config/setonix.config" }

}

// Fail a task if any command returns non-zero exit code
shell = ['/bin/bash', '-euo', 'pipefail']

// Set default parameters
// Any parameters provided by the user with a -params-file or 
// with --param (i.e. --outdir) command-line arguments will override the values defined here

  params.help		= false
  params.input		= false
  params.refdir_path		= '/g/data/er01/SIH-HPC-WGS/Reference'  # This path is specific to NCI GADI
  params.base_path		= './'
  params.outdir       = params.base_path+'results_mutect2'  

// Intervals for 'Scatter-Gather'
intervalList          = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n']     

// PATH to PoN (created previously)
params.path_to_PON          = './'
params.ponvcf               = params.refdir_path+'/'+'pon.vcf.gz'


// Set PATH pointing to the input 'bam' file-pairs 
params.bams = "$base_path/Preprocessing/*/Recalibrated/*-{N,T}.recal.bam"
//params.bams = "/rds/PRJ-MPSCG/SIH/Thyroid_BAMs"

common_biallelic_path = params.refdir_path+'/gatk-best-practices/somatic-hg38/'+'small_exac_common_3.hg38.vcf.gz'


// Containers
params.bcftools__container  = 'quay.io/biocontainers/bcftools:1.15.1--hfe4b78e_1'
params.bwa__container       = 'quay.io/biocontainers/bwa:0.7.3a--h7132678_7'
params.cutadapt__container  = 'quay.io/biocontainers/cutadapt:3.4--py39h38f01e4_1'
params.fastqc__container    = 'quay.io/biocontainers/fastqc:0.11.9--hdfd78af_1'
params.gatk4__container     = 'quay.io/biocontainers/gatk4:4.1.8.0--py38h37ae868_0'
params.samtools__container  = 'quay.io/biocontainers/samtools:1.15.1--h1170115_0'



// Resource allocation for various processes
/// Here you can be provide CPU and memory for all or various processes
/// Defining it as a parameter means users can customise/override when running the command
  params.cpus = 1 // you'll need to include this parameter in your process. See process1.nf for example.

  // To specify resources for a specific process, use the following: 
  //withName: 'samtools' {
  //    cpus    = N 
  //    memory  = 8.GB 
  //}

// Fail a task if any command returns non-zero exit code
  shell = ['/bin/bash', '-euo', 'pipefail']




process {
	//beforeScript = '${projectDir}/scripts/pullContainers.sh'
	module = 'singularity'
	cache = 'lenient'
	stageInMode = 'symlink'
	project = "${params.pbs_account}"
	storage = "scratch/${params.pbs_account}+gdata/${params.pbs_account}"
	disk = '30.GB'


    withName: 'mutect2' {
        cpus = 10
        memory = '40.GB'
        container = 'quay.io/biocontainers/gatk4:4.4.0.0--py36hdfd78af_0'
    }

    withName: 'GatherVcfs_step' {
        cpus = 4
        memory = '40.GB'
        container = 'quay.io/biocontainers/gatk4:4.4.0.0--py36hdfd78af_0'
    }
 

    withName: 'MergeMutectStats' {
        cpus = 4
        memory = '40.GB'
        container = 'quay.io/biocontainers/gatk4:4.4.0.0--py36hdfd78af_0'
    } 

    withName: 'LearnReadOrientationModel' {
        cpus = 4
        memory = '40.GB'
        container = 'quay.io/biocontainers/gatk4:4.4.0.0--py36hdfd78af_0'
    } 

  withName: 'GetPileupSummaries' {
        cpus = 4
        memory = '40.GB'
        container = 'quay.io/biocontainers/gatk4:4.4.0.0--py36hdfd78af_0'
    } 

  withName: 'CalculateContamination' {
        cpus = 4
        memory = '40.GB'
        container = 'quay.io/biocontainers/gatk4:4.4.0.0--py36hdfd78af_0'

    } 

  withName: 'FilterMutectCalls' {
        cpus = 4
        memory = '40.GB'
        container = 'quay.io/biocontainers/gatk4:4.4.0.0--py36hdfd78af_0'
    } 

withName: 'getFilteredVariants' {
        cpus = 4
        memory = '40.GB'
        container = 'quay.io/biocontainers/gatk4:4.4.0.0--py36hdfd78af_0'
        
} 

withName: 'annotate_with_snpEff' {
        cpus = 1
        memory = '40.GB'
        container = 'quay.io/biocontainers/snpeff:5.2--hdfd78af_0'
        
} 


}




// Produce a workflow diagram  
  dag {
    enabled = true
    file = 'runInfo/dag.svg'
  }

  report {
    enabled = true
    file = 'runInfo/report.html'
  }

  timeline {
    enabled = true
    file = 'runInfo/timeline.html'
  }

  trace {
    enabled = true
    file = 'runInfo/trace.txt'
  }
