// profile for the Gadi supercomputer at NCI
// More info: https://opus.nci.org.au/display/DAE/Nextflow

// Preset use of containers with Singularity
singularity {
    enabled = true
    cacheDir = "/scratch/er01/ndes8648/pipeline_work/nextflow/INFRA-83-Somatic-ShortV/singularity_cache"
    autoMounts = true
    autoCleanUp = true
}

process {
	//beforeScript = '${projectDir}/scripts/pullContainers.sh'
	module = 'singularity'
	cache = 'lenient'
	stageInMode = 'symlink'
	project = "${params.gadi_account}"
	storage = "scratch/${params.gadi_account}+gdata/${params.gadi_account}"
	disk = '30.GB'
        

withName: 'checkInputs' {
	executor = 'local'
}


withName: 'mutect2' {
        executor = 'pbspro'
        queue = 'normal'
        cpus = 1
        time = '1h'
        memory = '20.GB'
}

withName: 'GatherVcfs_step' {
        executor = 'pbspro'
        queue = 'normal'
        cpus = 1
        time = '1h'
        memory = '20.GB'
}

withName: 'MergeMutectStats' {
        executor = 'pbspro'
        queue = 'normal'
        cpus = 1
        time = '1h'
        memory = '20.GB'
}

withName: 'LearnReadOrientationModel' {
        executor = 'pbspro'
        queue = 'normal'
        cpus = 1
        time = '1h'
        memory = '20.GB'
}

withName: 'GetPileupSummaries' {
        executor = 'pbspro'
        queue = 'normal'
        cpus = 1
        time = '1h'
        memory = '20.GB'
}


withName: 'CalculateContamination' {
        executor = 'pbspro'
        queue = 'normal'
        cpus = 1
        time = '1h'
        memory = '20.GB'
}

withName: 'FilterMutectCalls' {
        executor = 'pbspro'
        queue = 'normal'
        cpus = 1
        time = '1h'
        memory = '20.GB'
}

withName: 'getFilteredVariants' {
        executor = 'pbspro'
        queue = 'normal'
        cpus = 1
        time = '1h'
        memory = '20.GB'
}

withName: 'annotate_with_snpEff' {
        executor = 'pbspro'
        queue = 'normal'
        cpus = 1
        time = '1h'
        memory = '20.GB'
}


}

