// profile for the Gadi supercomputer at NCI
// More info: https://opus.nci.org.au/display/DAE/Nextflow

// Preset use of containers with Singularity
singularity {
    enabled = true
    cacheDir = "/scratch/${params.gadi_account}/${params.whoami}/singularity"
    autoMounts = true
    autoCleanUp = true
    temp = "scratch/${params.gadi_account}/${params.whoami}/containers"
}

process {
    module = 'singularity'
    cache = 'lenient'
    stageInMode = 'symlink'
    project = "${params.gadi_account}"
    storage = "scratch/${params.gadi_account}+gdata/${params.gadi_account}"
    executor = 'pbspro'
    queue = 'normal'    
    cpus = 1
    time = '1h'
    memory = '20.GB'


withName: 'checkInputs' {
	executor = 'local'
	memory = '4.GB'
}



withName: 'mutect2' {
        time = '6h'
        memory = '60.GB'
}

withName: 'GatherVcfs' {
	memory = '60.GB'
}

withName: 'MergeMutectStats' {
        memory = '60.GB'
        }

withName: 'getFilteredVariants' {
        memory = '60.GB'
        }



}

