// profile for the Gadi supercomputer at NCI
// More info: https://opus.nci.org.au/display/DAE/Nextflow

// Preset use of containers with Singularity
singularity {
    enabled = true
    cacheDir = "/scratch/${params.gadi_account}/${params.whoami}/singularity"
    autoMounts = true
    autoCleanUp = true
    temp = "scratch/${params.gadi_account}/${params.whoami}/containers"
}

process {
module = 'singularity'
    cache = 'lenient'
    stageInMode = 'symlink'
    project = "${params.gadi_account}"
    storage = "scratch/${params.gadi_account}+gdata/${params.gadi_account}"
        

withName: 'checkInputs' {
	executor = 'local'
}
withName: '' {
	executor = 'local'
}


withName: 'mutect2' {
        executor = 'pbspro'
        queue = 'normal'
        cpus = 8
        time = '6h'
        memory = '80.GB'
}

withName: 'GatherVcfs' {
        executor = 'pbspro'
        queue = 'normal'
        cpus = 8
        time = '6h'
        memory = '80.GB'
}

withName: 'MergeMutectStats' {
        executor = 'pbspro'
        queue = 'normal'
        cpus = 8
        time = '6h'
        memory = '80.GB'
}

withName: 'LearnReadOrientationModel' {
        executor = 'pbspro'
        queue = 'normal'
        cpus = 8
        time = '6h'
        memory = '80.GB'
}

withName: 'GetPileupSummaries_T' {
        executor = 'pbspro'
        queue = 'normal'
        cpus = 8
        time = '6h'
        memory = '80.GB'
}

withName: 'GetPileupSummaries_N' {
        executor = 'pbspro'
        queue = 'normal'
        cpus = 8
        time = '6h'
        memory = '80.GB'
}


withName: 'CalculateContamination' {
        executor = 'pbspro'
        queue = 'normal'
        cpus = 8
        time = '6h'
        memory = '80.GB'
}

withName: 'FilterMutectCalls' {
        executor = 'pbspro'
        queue = 'normal'
        cpus = 8
        time = '6h'
        memory = '80.GB'
}

withName: 'getFilteredVariants' {
        executor = 'pbspro'
        queue = 'normal'
        cpus = 8
        time = '6h'
        memory = '80.GB'
}


}

